#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    position: relative;
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    background-image: url('../img/man-working-on-computer.jpg');
    background-size: cover;
    background-position: center;
}
.head .desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head .desc .logo {
    width: 240px;
    height: 110px;
    background-image: url('../img/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
    filter: blur(0);
}
.head .desc .subtitle {
    position: relative;
    color: #FFF;
    font-size: 1.6em;
}
.accessLinks {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
}
.accessLink div {
    margin: 5px;
    height: 40px;
    color: #FFF;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.accessLink:visited { color: #FFF; }

/* content config */
.content {
    position: relative;
    max-width: 800px;
    padding: 0 10px 30px 10px;
}
.content .title-content {
    margin: 15px 0 10px 35px;
    font-size: 2.8em;
    font-weight: bold;
}

/* icons config */
.iconSingIn {
    width: 30px;
    height: 30px;
    background-image: url('../img/singIn.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.iconSingUp {
    width: 30px;
    height: 30px;
    background-image: url('../img/singUp-icon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 876px) {
    .head {
        height: 220px;
    }
    .head .subtitle {
        text-align: center;
    }
    .accessLinks {
        top: 5px;
    }
}