#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    position: relative;
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    background-image: url('../img/man-working-on-computer.jpg');
    background-size: cover;
    background-position: center;
}
.head .desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head .desc .logo {
    width: 240px;
    height: 110px;
    background-image: url('../img/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
    filter: blur(0);
}
.head .desc .subtitle {
    position: relative;
    color: #FFF;
    font-size: 1.6em;
}
.accessLinks {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
}
.accessLink div {
    margin: 5px;
    height: 40px;
    color: #FFF;
    display: flex;
    align-items: center;
}
.accessLink:visited { color: #FFF; }

/* content config */
.content {
    position: relative;
    width: 800px;
    padding-bottom: 30px;
}
.content .title-content {
    margin: 15px 0 10px 35px;
    font-size: 2.8em;
    font-weight: bold;
}
/* 
.content .body-content {
    padding: 5px 0 5px 15px;
    border-left: 5px solid #6699FF;
    text-align: justify;
    text-indent: 2em;
} */

/* icons config */
.iconSingIn {
    width: 30px;
    height: 30px;
    background-image: url('../img/singIn.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.iconSingUp {
    width: 30px;
    height: 30px;
    background-image: url('../img/singUp-icon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}