@media screen and (max-width: 876px) {
    * {
        max-width: 100%;
    }
    body {
        background: #FFF;
    }
    .header {
        height: auto;
        display: grid;
        grid-template-areas: "menu logo userPic";
        box-shadow: rgba(0,0,0,0.5) 0 0 5px;
    }
    .header .menu {
        grid-area: menu;
        display: block;
        width: 65px;
        height: 65px;
        background: url('../img/menuIcon.png') no-repeat center;
        background-size: contain;
    }
    .header .home-icon {
        grid-area: menu;
        display: block;
        width: 65px;
        height: 65px;
        background: url('/img/home-icon.png') no-repeat center;
        background-size: auto 45px;
        cursor: pointer;
    }
    .header .logo {
        grid-area: logo;
        height: 65px;
        margin: 0;
    }
    .header .right {
        grid-area: userPic;
    }
    .header .userInfo .userName {
        display: none;
    }
    .header .userInfo .userPhoto {
        width: 50px;
        height: 50px;
    }
    .rightBar .userInfo .userName {
        display: block;
    }
    .rightBar .userInfo {
        height: 75px;
    }
    .header .search {
        display: none
    }
    .page .search {
        margin-top: 15px;
        width: unset;
    }
    .inputSearch {
        width: unset !important;
    }
    .search .btnBuscar {
        background-color: #6699FF;
    }

    /* gambiarra para mostrar a barra de pesquisa */
    .page .mobile {
        display: flex;
    }
    /* ocultar menu */
    .page .nav {
        display: none;
    }

    /* lista de arquivos */
    .content {
        padding: 0;
    }
    .tableFiles .rowTableFile {
        grid-template-columns: 46px 2fr 1fr 40px 40px;
        grid-gap: 5px;
    }
    .tableFiles .rowTableFile .td {
        padding: 0 5px;
        display: inline-block;
        vertical-align: middle;
    }
    .rowTableFile .td:nth-child(n+3):nth-child(-n+4) {
        display: none;
    }
    .tableFiles .rowTableFile .iconFile {
        width: 55px;
    }
    /* menu dropdown */
    .dropdown-content {
        margin-top: 70px;
    }

    .modalLayout {
        min-width: 260px !important;
    }

    .btn-hide-mobile {
        display: none !important;
    }

    .btn-back {
        margin: 15px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        box-shadow: rgba(0,0,0,0.5) 0 0 5px;
        background-image: url("/img/icon_back.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 36px;
        background-color: #FFF;
    }

    .table-gerenciar .rowTable {
        height: 46px;
        display: grid;
        grid-template-columns: 0fr 1fr 0fr 0fr 0fr 46px 46px;
        align-items: center;
        font-size: 1em;
        color: #666666;
    }
}