.dropdown {
    position: relative;
    margin: 0 30px 0 15px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 225px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    color: #707070;
    padding: 5px 15px;
    text-decoration: none;
}

.dropdown a:hover {
    animation: ease-in-out 5ms;
    background-color: #ddd;
}

.show {display: block;}

/* icones do menu */
.icon-folder {
    height: 46px;
    width: 55px;
    background-image: url('../img/Folder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 30px;
}
.icon-doc {
    height: 46px;
    width: 55px;
    background-image: url('../img/doc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 30px;
}
.icon-digi {
    height: 46px;
    width: 55px;
    background-image: url('../img/digitalizacao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 30px;
}