body {
    padding: 0;
    margin: 0;
    font-family: arial;
    color: #222222;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
}
.header {
    position: relative;
    width: 100%;
    height: 110px;
    background-color: #6699FF;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 6px;
    z-index: 999;
}
.header .logo {
    width: 10%;
    display: inline-block;
}

.header .search {
    width: calc(100% - 455px);
    height: 60px;
    display: inline-block;
    text-align: center;
}
.header .inputSearch {
    width: 60%;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    padding: 0 45px 0 15px;
    font-size: 1.3em;
}
.header .btnBuscar {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    border-radius: 5px;
    border-style: none;
    background: #B8D0FF url("../img/lupa.png") no-repeat center;
    background-size: 30px auto;
}
.header .btnUpload  {
    width: 40px;
    height: 40px;
    margin-bottom: -15px;
    border-radius: 50%;
    background: #B8D0FF url("../img/UploadIcon.png") no-repeat center;
    background-size: auto 30px;
    display: inline-block;

}
.header .userInfo {
    width: 200px;
    height: 90px;
    display: inline-block;
    text-align: right;
}
.header .userInfo .userName {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}
.header .userInfo .userPhoto {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -25px;
    border-radius: 50%;
    background: url("../img/UserPhoto.png") no-repeat center;
    background-size: 60px 60px;
    display: inline-block;
}

.sideBar {
    position: relative;
    width: 300px;
    height: calc(100% - 110px);
    float: left;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 0px 6px;
    z-index: 900;
}
.sideBar .newFolder {
    width: 100%;
    height: 40px;
    vertical-align: middle;
}

.content {
    position: relative;
    width: calc(100% - 310px);
    height: calc(100% - 120px);
    padding: 5px;
    float: left;
    /* background: #a2d */
}