@import 'layout.css';
@import 'layoutMobile.css';

/* estilos genericos global */
/* botões */
.btn {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* estilos */
.btn-blue:disabled {
    background-color: rgb(136, 163, 214);
    color: #DDD;
}
.btn-blue {
    background-color: #6699FF;
    color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}
.btn-blue:focus {
    background: rgb(84, 127, 214);
}
.btn-red {
    background-color: rgb(255, 70, 50) ;
    color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}

.btn-red:focus { 
    background-color: rgb(255, 60, 30);
}
.btn-square-option {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    box-shadow: #222222 0 0 5px;
}
.btn-edit {
    background-image: url('../img/Groupe\ 152.png');
    background-position: 5px;
    background-size: auto 26px;
    background-repeat: no-repeat;
}
.btn-delete {
    background-image: url('../img/Groupe\ 152.png');
    background-position: -37px;
    background-size: auto 26px;
    background-repeat: no-repeat;
}

.btn-square-option {
    width: 30px;
    height: 30px;
}
.btn-edit {
    background-position: 2px;
    background-size: auto 22px;
}
.btn-delete {
    background-position: -33px;
    background-size: auto 22px;
}

.pointer {
    cursor: pointer;
}

/* links */
.link-none {
    text-decoration: none;
}

/* modal */
.modalLayout {
    min-width: 500px;
    /* height: 300px; */
    padding: 20px;
}
.modal-btns {
    display: flex;
    justify-content: space-between;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}