<title>Digitaliza.org</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link type="text/css" rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/layoutMobile.css">
<link type="text/css" rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/modal.css">


<div class="page" ng-controller="managerFiles">
	<header class="header" ng-controller="userControll">
		<nav class="menu"></nav>
		<div class="logo">
			<!-- <img src="img/logo.png" alt="Logo"> -->
		</div>
		<div class="middle search">
			<input type="text" name="q" class="inputSearch" placeholder="Pesquisar" />
			<div class="btnBuscar"></div>
		</div>
		<div class="userInfo">
			<div class="userName">{{ user.first_name }}</div>
			<div class="userPhoto" style="background-image: url('{{user.pic}}')"></div>
		</div>
	</header>
	<!-- menu gerenciamento de conta -->
	<div class="rightBar" ng-controller="userControll">
		<div class="userInfo" onclick="hideRightBar()">
			<div class="userName">{{ user.first_name }} {{ user.last_name }}</div>
			<div class="userPhoto" ng-click="showRightBar()" style="background-image: url('{{user.pic}}')"></div>
		</div>
		<div class="rightBar-menu">
			<h2>Gerenciar conta</h2>
			<ul>
				<li>Alterar cadastro</li>
				<li ng-click="logout()">Sair</li>
			</ul>
		</div>
	</div>

	<div class="mobile search">
		<input type="text" name="q" class="inputSearch" placeholder="Pesquisar" />
		<div class="btnBuscar"></div>
	</div>

	<!-- Menu gerenciamento -->
	<nav class="nav">
		<div class="dropdown">
			<button id="dropbtn" onclick="myFunction()" class="btn btn-blue">Novo</button>
				<div id="myDropdown" class="dropdown-content">
					<button ng-click="showPrompt($event)" rel="modal"><div class="icon-folder"></div><p>Nova Pasta</p></button>
					<button ng-click="simpleUpload($event)" rel="modal"><div class="icon-doc"></div><p>Enviar arquivos</p></button>
					<button ng-click="" rel="modal"><div class="icon-digi"></div><p>Nova Digitalizar</p></button>
				</div>
		</div>
		<div class="navegacao">
			<p><a href="/files">Home</a></p>
			<p ng-repeat="r in rastro">&nbsp;>&nbsp;<a ng-href="{{r.link}}">{{r.nome}}</a></p>
		</div>
	</nav>

	<!-- Conteudo: pastas, docs... -->
	<section class="content">
		<div class="tableFiles">
			
			<div class="rowTableFile th">
				<div class="td iconFile"></div>
				<div class="td pointer" ng-click="orderByName(myOrderByName)">Nome {{ arrowOrder }}</div>
				<div class="td">Autor</div>
				<div class="td">Data de modificação</div>
				<div class="td">Tamanho</div>
			</div>

			<div ng-repeat="file in files | orderBy : myOrderByName |  filter : {name : inputSearch }" class="tr">
				<a ng-href="{{file.link}}" target="{{file.target}}">
					<div class="rowTableFile" type="button">
						<div class="td iconFile" style="background-image: url('{{file.type}}')"></div>
						<div class="td">{{ file.name }}</div>
						<div class="td">{{ file.author }}</div>
						<div class="td">{{ file.date }}</div>
						<div class="td">{{ file.size }}</div>
					</div>
				</a>
			</div>

		</div> <!-- tableFiles -->
	</section>
</div>

<!-- Cria o modal para cada item do menu -->
<div id="mascara"></div>
<div id="novapasta" class="window">
	<div>
		<h4>Criar nova pasta</h4>
		<a href="#" class="fechar">X</a>
	</div>
</div>
<div id="upload" class="window">
	<div>
		<h4>Enviar novos arquivos</h4>
		<a href="#" class="fechar">X</a>
	</div>
</div>
<div id="digitalizar" class="window">
	<div>
		<h4>Digitalizar</h4>
		<a href="#" class="fechar">X</a>
	</div>
</div>