<title>Digitaliza.org</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<!-- <link type="text/css" rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/layoutMobile.css"> -->
<!-- <link type="text/css" rel="stylesheet" href="css/style.css"> -->
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/modal.css">
<style>
	body { background-color: #E1E1E1; }
</style>


<div class="page" ng-controller="managerFiles">
	<header class="header">
		<nav id="iconMobileMenu" onclick="openMobileMenu()" class="menu">
			<div id="mobileMenu" class="dropdown-content">
				<button ng-click="showPrompt($event)" rel="modal"><div class="icon-folder"></div><p>Nova Pasta</p></button>
				<button ng-click="simpleUpload($event)" rel="modal"><div class="icon-doc"></div><p>Enviar arquivos</p></button>
				<button ng-click="digitalizaUpload($event)" rel="modal"><div class="icon-digi"></div><p>Nova Digitalização</p></button>
			</div>
		</nav>
		<div class="logo"> <!-- logo --> </div>
		<form class="middle search" name="searchForm" ng-submit="search()">
			<input type="text" name="q" ng-model="searchField" class="inputSearch" placeholder="Pesquisar" />
			<input type="submit" class="btnBuscar" value="">
		</form>
		<user-prifle-menu></user-prifle-menu>
	</header>

	<form class="mobile search" name="searchForm" ng-submit="search()">
		<input type="text" name="q" ng-model="searchField" class="inputSearch" placeholder="Pesquisar" />
		<input type="submit" class="btnBuscar" value="">
	</form>

	<!-- Menu gerenciamento -->
	<nav class="nav">
		<div class="dropdown">
			<button id="dropbtn" onclick="myFunction()" class="btn btn-blue">Novo</button>
				<div id="myDropdown" class="dropdown-content">
					<button ng-click="showPrompt($event)" rel="modal"><div class="icon-folder"></div><p>Nova Pasta</p></button>
					<button ng-click="simpleUpload($event)" rel="modal"><div class="icon-doc"></div><p>Enviar arquivos</p></button>
					<button ng-click="digitalizaUpload($event)" rel="modal"><div class="icon-digi"></div><p>Nova Digitalização</p></button>
				</div>
		</div>
		<div class="navegacao">
			<p><a href="/files">Home</a></p>
			<p ng-repeat="r in rastro">&nbsp;>&nbsp;<a ng-href="{{r.link}}">{{r.nome}}</a></p>
		</div>
	</nav>

	<!-- Conteudo: pastas, docs... -->
	<section class="content">
		<div class="tableFiles">
			
			<div class="rowTableFile th">
				<div class="td iconFile"></div>
				<div class="td pointer" ng-click="orderByName(myOrderByName)">Nome {{ arrowOrder }}</div>
				<div class="td">Autor</div>
				<div class="td">Data de modificação</div>
				<div class="td">Tamanho</div>
			</div>

			<div ng-repeat="file in files | orderBy : myOrderByName |  filter : {name : inputSearch }" class="tr">
				
					<div class="rowTableFile">
						<div class="td iconFile" style="background-image: url('{{file.type}}')"></div>
						<div class="td">
							<a class="link-none" ng-href="{{file.link}}" target="{{file.target}}">
								{{ file.name }}
							</a>
						</div>
						<div class="td">{{ file.author }}</div>
						<div class="td">{{ file.date }}</div>
						<div class="td">{{ file.size }}</div>
						<div class="td"><div class="btn-square-option btn-blue btn-edit pointer" ng-click="editFile($event, file)"></div></div>
						<div class="td"><div class="btn-square-option btn-red btn-delete pointer" ng-click="deleteFile($event, file)"></div></div>
					</div>
			</div>

		</div> <!-- tableFiles -->
	</section>
</div>
