<style>
    .content .body-content .description {
        padding: 5px 0 5px 15px;
        border-left: 5px solid #6699FF;
        text-align: justify;
        text-indent: 2em;
    }
    .content .subtitle {
        margin: 20px 0 5px;
    }
    .content ul li {
        margin: 6px 0 6px 40px;
        /* list-style: none; */
    }
</style>

<p class="description" style="line-height: 1.5em">
    Tornar o cotidiano de ambientes de trabalho que utilizam muitos documentos em papeis em um local mais organizado, visando melhorar a eficiência dos trabalhadores acelerando o processo de localização e manutenção com a utilização de um sistema de gerenciamento de documentos (GED).
</p>
<h2 class="subtitle">Serviços disponíveis</h2>
<ul>
    <li>Serviço de armazenamento de documentos na nuvem.</li>
    <li>Ferramenta de conversão de mídia física (papel) em documento digital e editável.</li>
    <li>Ferramenta de busca inteligente por conteúdo.</li>
    <li>Compatível com dispositivos móveis.</li>
</ul>