<div class="modalLayout">
    <h2>Gerenciar usuário</h2>
    <form role="form" name="projectForm" ng-submit="save()">
        <div>
            <div layout="row">
                <md-input-container flex="60">
                    <label>Nome</label>
                    <input type="text" required name="first_name" ng-model="formUser.first_name">
                    <div ng-messages="projectForm.first_name.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="60">
                    <label>Sobrenome</label>
                    <input type="text" required name="last_name" ng-model="formUser.last_name">
                    <div ng-messages="projectForm.last_name.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row">
                <div class="gerenciar-sufix">{{sufix}}</div>
                <md-input-container flex="60">
                    <label>Nome de usuário</label>
                    <input type="text" required name="user_name" ng-model="formUser.user_name">
                    <div ng-messages="projectForm.user_name.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="60">
                    <label>Senha</label>
                    <input type="password" minlength="8" name="password" ng-model="formUser.password">
                    <div ng-messages="projectForm.password.$error">
                        <div ng-message="minlength">Deve ter no minimo 8 caracteres</div>
                    </div>
                </md-input-container>
                <md-input-container flex="60">
                    <label>Repitir senha</label>
                    <input type="password" name="c_password" ng-model="formUser.c_password" equal="{{formUser.password}}">
                    <div ng-if="formUser.c_password != formUser.password && formUser.c_password">
                        <div class="md-input-message-animation ng-scope">está senha deve ser igual a anterior</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row">
                <md-checkbox md-no-ink ng-model="formUser.masterView" class="md-primary">
                    Master
                </md-checkbox>
                <md-checkbox md-no-ink ng-model="formUser.statusView" class="md-primary">
                    Ativo
                </md-checkbox>
            </div>

        </div>
        <div>
            <button class="btn btn-red left" type="submit" ng-click="cancelar()" >Cancelar</button>
            <button class="btn btn-blue right" 
                    ng-disabled="projectForm.$invalid ||
                                ((formUser.id == null) && (formUser.password == '' || formUser.password == null)) ||
                                (formUser.password != formUser.c_password)" 
                    type="submit" >
                        Salvar
            </button>
        </div>
    </form>
</div>