<style>
    .loginPage {
        width: 500px;
        /* height: 300px; */
        padding: 20px;
    }

    .form {
    }
    .btns-login {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="loginPage">
    <h1>Acessar Conta</h1>
    <form class="form" name="loginForm" role="form" ng-submit="login()">
        <div layout="row">
            <md-input-container flex="100">
                <label>Nome de usuário</label>
                <input type="text" required name="user_name" ng-model="loginField.user_name">
                <div ng-messages="loginForm.user_name.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row">
                <md-input-container flex="100">
                    <label>Senha</label>
                    <input type="password" minlength="8" required name="password" ng-model="loginField.password">
                    <div ng-messages="loginForm.password.$error">
                            <div ng-message="minlength">Deve ter no minimo 8 caracteres</div>
                        <div ng-message="required">Este campo é obrigatório.</div>
                    </div>
                </md-input-container>
        </div>
        <div class="btns-login">
            <button class="btn btn-red" ng-click="cancel('cancel')" type="button">Cancelar</button>
            <button class="btn btn-blue" ng-disabled="loginForm.$invalid" ng-click="answer('login')" type="submit">Entrar</button>
        </div>
    </form>
</div>